# Google Maps JavaScript API key (HTTP-referrer restricted to your Pages domain)
# Get one at https://console.cloud.google.com/apis/credentials
# Required APIs: Maps JavaScript API
VITE_GOOGLE_MAPS_API_KEY=AIzaSyApTI-BCn3Qucc39NilKGd79SqGIbXeyS4
